.text-roadmap{
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
text-transform: uppercase;
color: #0D0D0D;
}
.text-pararaod{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
/* or 28px */


color: #0D0D0D;
}
.card_bg{
    background-image: url("../../assets/card1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-artbook{
    font-family: 'Orbitron';
font-style: normal;
font-weight: 700;
font-size: 24px;
/* line-height: 140%; */
/* identical to box height, or 34px */
text-align: center;
text-transform: uppercase;
color: #F71934;
}
.card2_bg{
    background-image: url("../../assets/CardRed.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.text-Collectables{
    font-family: 'Orbitron';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
.card3_bg{
    background-image: url("../../assets/Card3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}