.dashboard-container {
  margin-top: 64px !important;
  /* margin-right: 50px !important; */
  width: 100%;
}
.dashboard-heading {
  margin-left: 20px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;

  /* Black */

  color: #2e335b;
}
.container-profile,
.container-card {
  left: calc(50% - 972px / 2 - 94px);
  top: calc(50% - 610px / 2 - 134px);
  height: auto;
  margin-left: 20px;
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(226, 236, 249, 0.5);
  border-radius: 23px;
}
.container-profile {
  width: 650px;
}
.container-card {
  width: 350px;
  display: flex;
}
.title {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;

  /* Black */

  color: #2e335b;
}
.userTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  letter-spacing: 0.01em;

  /* Black */

  color: #2e335b;
}
.userSubTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.01em;

  /* Gray\ Text */

  color: #9197b3;
}
.avatar {
  width: 84px !important;
  height: 82px !important;
}
