.circle{
    width: 27px;
    height: 27px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
}
.circle:hover{
    background-color: red;
    color:white;
    border: none;
}
.copy_text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
color: #0D0D0D;
}